body{
    background-size: cover;
}

body::-webkit-scrollbar{
    width: 0.7vw;
}

body::-webkit-scrollbar-track {
    background-color: #89daff;
  }

body::-webkit-scrollbar-thumb {
    background: #dbb1bc;
  }

  body::-webkit-scrollbar-thumb:hover{
    background-color: #e49eb0d4;
  }


header{
 height: 10vh;
 font-family: "Crimson Text", "Times New Roman", serif;
 position: fixed;
 width: 100vw;
 z-index: 1000;
 background-color: #dbb1bc;
 transition: background 0.7s ease;
}

header.animar{
    border-bottom: 4px solid wheat;
    background-color: #89daff;
}

nav{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 8vh;
    margin: 0.5rem;
}

footer{
    background-color: #89daff;
    height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer img{
    max-height: 3.5rem;
    margin: 1rem;
}

#menu-principal{
 list-style-type: none;
 float: right;
 margin-right: 15px;
 }

.btn-menu{
    border: none;
    color: #fff;
    font-size: 1.2rem;
    padding: 1rem 1.5rem;
    background-color: transparent;
 }

.btn-menu a{
    display: inline-block;
    height: 120%;
    width: 120%;
    padding: 0.7rem 1.2rem;
    border-radius: 20px;
 }

.btn-menu a:hover{ 
    background-color: #dbb1bc;
    color: #89daff;
    transition: 0.6s ease;
}

.btn-menu a:active{
    filter: brightness(90%);
}



.home{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #000;
    position: relative;
}

.home-text{
    font-family: 'Crimson Text', serif;
    padding: 4vh;
    color: white;
    overflow: hidden;
    width: fit-content;
    max-width: 100%;
    position: absolute;
}

.home-text h1{
    font-size: 4.5rem;
    letter-spacing: 10px;
    text-shadow: 4px 4px black;
}

.home-text p{
    font-size: 3rem;
    line-height: 130%;
}

.home-text span{
    color: #eff83f;
}

.home-text a{
    display: inline-block;
    color: #fff;
    font-size: 1.5rem;
    line-height: 50px;
    background-color: #dbb1bc;
    border-radius: 50px;
    margin-top: 20px;
    padding: 10px;
}

.home-text a:hover{
    transform: scale(1.1);
    transition: .4s ease;
}

.home-text a:active{
    transform: scale(0.9);
    transition: .4s ease;
}

.slider{
    background-image: url(/assets/img-main-1.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: background 0.5s linear;
    opacity: 0.3;
  }

.slider-nav{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0) 
}

.slider-button{
    margin: 10px 5px;
    width: 15px;
    height: 15px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.slider-button.active {
    width: 40px;
    background-color: #dbb1bc;
    transition: 1s ease;
  }

.container{
    width: 100%;
    min-height: 100vh;
    background: url(/assets/moroccan-flower-dark.webp);
    display: flex;
    align-items: center;
}

.produtos{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.card{
    background: url(/assets/moroccan-flower.png);
    width: 15vw !important;
    height: 20vw;
    border-radius: 30px 20px 30px 40px;
    padding: 32px 46px;
    margin-right: -7rem;
    z-index: 1;
    text-align: center;
}

.lista-produtos{
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-main img{
    position: relative;
    float: left;
    width: 50vh;
    border-radius: 20px;
}

.lista-img{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.lista-img img{
    max-width: 10vw;
    margin: 0 1rem;
    border-radius: 20px;
}

.lista-img img:nth-child(1){
    margin-bottom: 1rem;
}

.redes{
    position: relative;
    float: right;
    margin-right: 30px;
}
.redes img{
    height: 40px;
}

@media (max-width: 1080px) {
    #menu-principal{
        display: none;
    }
    .card{
        display: none;
    }
    .lista-produtos{
        flex-direction: column;
        margin: 2rem;
        gap: 1rem;
    }
    .lista-img img, .img-main img{
        max-width: 30vw;
    }
    .home{
        height: 70vh;
    }
    .home-text h1{
        letter-spacing: 5px;
    }
    .home-text h1, .home-text p{
        font-size: 2.2rem;
    }
    .home-text a{
        font-size: 0.8rem;
        display: flex;
        height: 2rem;
        width: fit-content;
        justify-content: center;
        align-items: center;
    }
}